@charset "UTF-8";

.container * {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.container {
	margin: 0 auto;
	width: 420px;
	background-color: #fff;
	border: 1px solid #006583;
	padding: 10px;
}
.container p {
	font-size: 20px;
	margin: 4px;
	margin-left: 10px;
}
.container textarea {
	border-radius: 0;
	border: 1px solid #0008;
	resize: vertical;
	padding: 8px;
	width: 400px;
}
.container .bottom {
	text-align: right;
}
.container .bottom input {
	background-color: #b3a197;
	color: #fff;
	padding: 3px 10px;
}